body, html {
    height: 100%;
    margin: 0;
}

.create-bg {
    background: url(../../images/lspu_bg.jpg);
    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create-panel {
    background-color: #ffffff;
}